<div class="container">
  <div class="login">
    <h1 class="text-2xl font-bold">Login</h1>

    <mat-form-field class="input">
      <mat-label>Username</mat-label>
      <input matInput [value]="username()" (input)="updateUsername($event)" placeholder="Username">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput [value]="password()" (input)="updatePassword($event)" type="password" placeholder="Password">
    </mat-form-field>
    <section>
      <div>
        <button class="button" mat-stroked-button (click)="onLogin()">Login</button>    
      </div>
      <div>
        <button class="button" mat-flat-button (click)="navigateToRegistro()">Registro</button>
      </div>
    </section>
  </div>
</div>